@use "sass:math";

@import "_variables";
@import "_animations";
@import "_mixins";
@import "_normalize";

html {
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 !important;
  background-color: var(--background);

  &.-dark {

  }
}

html, 
p {
  margin: 0;
  @include r('font-size', 18, 21);
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.02rem;
}

p {
  font-family: 'Inter', sans-serif;
  color: var(--text-light);

  b {
    font-weight: 900;
  }

  a {
    
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.-h1,
.-h2,
.-h3,
.-h4,
.-h5,
.-h6 {
  margin: 0;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.1rem;
  color: var(--text-dark);
  text-wrap: balance;
}

h1, 
.-h1 {
  font-weight: 500;
	@include r('font-size', 48, 64);
}

h2, 
.-h2 {
	@include r('font-size', 40, 48);
}

h3, 
.-h3 {
	@include r('font-size', 27, 32);
}

h4, 
.-h4 {
	@include r('font-size', 21, 24);
  letter-spacing: -0.02rem;
}

h5, 
.-h5 {
	@include r('font-size', 19, 22);
}

h6, 
.-h6 {
	@include r('font-size', 16, 18);
}

.-p1,
.-p2,
.-p3,
.-p4,
.-p5,
.-p6 {
  margin: 0;
  font-weight: 300;
}

.-p1 {
	@include r('font-size', 27, 27);
}

.-p2 {
	@include r('font-size', 24, 24);
}

.-p3 {
	@include r('font-size', 20, 20);
}

.-p4 {
	@include r('font-size', 16, 16);
}

.-p5 {
	@include r('font-size', 14, 14);
}

.-p6 {
	@include r('font-size', 12, 12);
}
